@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Josefin Sans";
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  background: linear-gradient(135deg, white, #fff5f5);
}

.container {
  width: 83%;
  max-width: 1100px;
  margin: 0 auto;
}

header {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .logo {
  width: 100px;
  height: 23px;
}

.hero-section .hero-img {
  width: 100%;
  height: 250px;
  background: url("../images/hero-mobile.jpg") no-repeat center/cover;
}

.hero-section .hero-text {
  padding: 4em 0;
  text-align: center;
}

.hero-section .hero-text h1 {
  font-size: 2.7em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #413a3a;
}

.hero-section .hero-text h1 span {
  font-weight: 300;
  color: #ce9797;
}

.hero-section .hero-text p {
  margin: 1.5em 0;
  font-size: 14px;
  color: #ce9797;
}

.hero-section .hero-text form {
  margin-top: 2em;
  text-align: left;
}

.hero-section .hero-text form .form-control {
  position: relative;
}

.hero-section .hero-text form .form-control input[type="email"] {
  width: 100%;
  padding: 1.2em 1.5em;
  border: none;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 55px;
  outline: none;
  color: #413a3a;
  font-family: "Josefin Sans";
  background: transparent;
  margin-bottom: 0.4em;
}

.hero-section .hero-text form .form-control input::-webkit-input-placeholder {
  color: #ce9797;
  font-size: 14px;
  font-family: "Josefin Sans";
  opacity: 0.5;
}

.hero-section .hero-text form .form-control input:-ms-input-placeholder {
  color: #ce9797;
  font-size: 14px;
  font-family: "Josefin Sans";
  opacity: 0.5;
}

.hero-section .hero-text form .form-control input::-ms-input-placeholder {
  color: #ce9797;
  font-size: 14px;
  font-family: "Josefin Sans";
  opacity: 0.5;
}

.hero-section .hero-text form .form-control input::placeholder {
  color: #ce9797;
  font-size: 14px;
  font-family: "Josefin Sans";
  opacity: 0.5;
}

.hero-section .hero-text form .form-control input:-webkit-autofill,
.hero-section .hero-text form .form-control input:-webkit-autofill:hover,
.hero-section .hero-text form .form-control input:-webkit-autofill:focus,
.hero-section .hero-text form .form-control textarea:-webkit-autofill,
.hero-section .hero-text form .form-control textarea:-webkit-autofill:hover,
.hero-section .hero-text form .form-control textarea:-webkit-autofill:focus,
.hero-section .hero-text form .form-control select:-webkit-autofill,
.hero-section .hero-text form .form-control select:-webkit-autofill:hover,
.hero-section .hero-text form .form-control select:-webkit-autofill:focus,
.hero-section .hero-text form .form-control input:valid {
  border: 1px solid rgba(206, 151, 151, 0.5);
  -webkit-text-fill-color: #413a3a;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.hero-section .hero-text form .form-control input.error-border {
  border: 2px solid #f96262;
}

.hero-section .hero-text form .form-control .error-icon {
  display: none;
  position: absolute;
  top: 0.7em;
  right: 5.3em;
}

.hero-section .hero-text form .form-control button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 55px;
  padding: 1.1em 2.1em;
  outline: none;
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 2px 10px 20px 5px rgba(255, 140, 140, 0.3);
          box-shadow: 2px 10px 20px 5px rgba(255, 140, 140, 0.3);
}

.hero-section .hero-text form .form-control button:hover {
  background: #f8bfbf;
}

.hero-section .hero-text form .error {
  color: #f96262;
  text-align: left;
  font-size: 12px;
  padding-left: 1.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  -webkit-columns: #ce9797;
          columns: #ce9797;
}

.attribution a {
  color: #ee8c8c;
  text-decoration: none;
}

@media (min-width: 515px) {
  .container {
    width: 75%;
  }
  .hero-section .hero-text h1 {
    font-size: 3em;
  }
}

@media (min-width: 1100px) {
  body {
    background: url("../images/bg-pattern-desktop.svg") no-repeat;
    background-size: 55% 100%;
    height: 100vh;
  }
  .container {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    padding: 3em 0;
  }
  header .logo {
    width: 150px;
    height: 30px;
  }
  .hero-section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-section .hero-img {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    height: 100%;
    background: url("../images/hero-desktop.jpg") no-repeat center/cover;
  }
  .hero-section .hero-text {
    height: 100%;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
  }
  .hero-section .hero-text h1,
  .hero-section .hero-text p {
    text-align: left;
  }
  .hero-section .hero-text h1 {
    font-size: 3.6em;
    letter-spacing: 10px;
    line-height: 1.2;
  }
  .hero-section .hero-text p {
    font-size: 14.5px;
  }
  .hero-section .hero-text button {
    padding: 1.1em 2.7em;
  }
  .attribution {
    width: 50%;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 1250px) {
  header {
    width: 55%;
  }
  .hero-section .hero-img {
    width: 45%;
  }
  .hero-section .hero-text {
    width: 55%;
  }
  .attribution {
    width: 55%;
  }
}
/*# sourceMappingURL=style.css.map */